/* style.css */
body {
  margin: 0;
  font-family: Verdana, sans-serif;
  background-color: #0c0c0c;
  color: #f7efef;
}

header {
  background-color: #f50a0a;
  color: rgb(9, 9, 9);
  padding: 20px;
  text-align: center;
}

nav a {
  color: rgb(18, 18, 18);
  margin: 0 15px;
  text-decoration: none;
}

.banner img {
  width: 100%;
  height: auto;
}

section.content {
  padding: 40px;
  text-align: center;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 40px;
}

.menu-item {
  background-color: #070707;
  border: 1px solid #faf4f4;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.menu-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.admin-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px;
  justify-content: center;
}

.admin-card {
  width: 200px;
  background-color: #0a0a0a;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #0b0b0b;
}

.admin-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.contact-info {
  padding: 40px;
  text-align: center;
  line-height: 1.8;
}

footer {
  background-color: #070707;
  color: white;
  text-align: center;
  padding: 10px;
}
